<%- include("header") %>

    <div class="box" id="heading">
        <h1>About</h1>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam commodi repellat quasi enim provident voluptates esse nemo accusantium vel. Veritatis!</p>
    
<%- include("footer") %>